extends layout

block content
  h1 #{message}
  p(class="lead")
    ="Sorry, your request could not be completed successfully."
  div(class="card border-danger")
    div(class="card-body")
      pre(class="text-danger") #{error.stack}
